*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 20px;
}

/* body{
    background-color: black;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows:  15vh 85vh ;
    justify-content: center;
} */

.navbar{
    background-image: url(../proyecto-grupal/logo-proyecto-grupal.png);
    background-size: 14rem;
    background-repeat: no-repeat;
    /* background-position: 0% -5%; */
    background-position-y: -1rem;
    background-position-x: 1.5rem;
    width: 100vw;
    height: 15vh;
    
    
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    /* margin-right: 50px; */
   
}


.navbar-left{
    /* background-color: aliceblue; */
    display: inline-block;
    padding: 0px 20px;
    position: relative;
    /* right: 300px; */
    right: 7rem;
    font-size: .8rem;
}

.navbar-rigth-1{
    display: inline-block;
    padding: 0px 20px;
    position: relative;
    right: 3rem;
    font-size: .9rem;
}

.navbar-rigth-2{
    display: inline-block;
    padding: .5rem 1.5rem;
    background-color: yellow;
    color: black;
    border-radius: 20px;
    position: relative;
    right: 3rem;
    font-size: .9rem;
}

/* Seccion 1  parte izquierda*/

.section-1{
    background-color: #000;
    display: grid;
    grid-template-columns: 50% 1fr;
    width: 100vw;
    height: 85vh;

    
}

.section-1__left{
    /* background-color: aquamarine; */
    color: white;
    margin-top: 50px;
    margin-left: 100px;
   
}

.section-1__left-h3-1{
    font-size: 2rem;
    color: grey;
}

.section-1__left-h3-2{
    font-size: 3rem;
}

.section-1__left-h3-3{
    font-size: 3rem;
}

.section-1__left-p{
    font-size: .9rem;
}

button{
    width: 12rem;
    height: 2rem;
    background-color: yellow;
    border-radius: 20px;
    margin-top: 20px;
}

/* Seccion 1  parte izquierda FIN*/

/* Seccion 1  parte Derecha*/

.section-1__rigth{
    background-image: url(../proyecto-grupal/img-principal-proyecto-grupal.png);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    /* margin-left: 250px; */
    /* background-color: #fff; */
    background-position-x: 200%;
    background-position-y: 5rem;
}

/* Seccion 1  parte Derecha FIN*/

/* seccion 2 */

.section-2{
    background-color: #000;
    display: grid;
    grid-template-rows: 40% 40% 20%;
    width: 100vw;
    height: 85vh;

}



/* section 2 primera parte */
.section-2__first{
    /* background-color: aqua; */
    margin-left: 15%;
    margin-top: 5%;
    color: #fff;
    position: relative;
}

.comillas{
    position: absolute;
    width: 6rem;
    top: -3.5rem;
    left: -6rem;
}

/* section 2 first h2 */
.section-2__first-h2{
    font-size: 1.3rem;

}

/* section 2 mitad que va divida en 4, la primera sin nada para dejar el espacio y las otras por partes iguales */
.section-2__middle{
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: 15% repeat(3,1fr);
    color: #fff;
}

.section-2__middle-1{
    /* background-color: aqua; */
}

/* .section-2__middle-2{
    background-color: aqua;
}

.section-2__middle-3{
    background-color: brown;
}
*/

.section-2__middle-h2{
    font-size: 2.5rem;
} 

.section-2__middle-p{
    width: 80%;
    font-size: .9rem;
}

.section-2__end{
    /* background-color: #fff; */
    margin-left: 15%;
    
}

/* Seccion 3 */
.section-3{
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 85vh;  
    
}

/* Secccion 3 primera parte */
.section-3__first{
    /* background-color: beige; */
    margin-top: 120px;
    
}

.section-3__first-p{
    font-size: 2.8rem;
    margin-left: 15%;
    color: #fff;
    

}

.section-3__first-link{
    color: yellow;
    margin-left: 15%;
    margin-top: 2rem;
}


.section-3__second{
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: repeat(4, 1fr);
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 20%;
  

}

.section-3__second-box-1{
    /* background-color: #fff; */
   background-image: url(../proyecto-grupal/section-3-img-1.png);
   background-size: cover;
   background-size: contain;
   background-repeat: no-repeat;
   height: 90%;
   width: 90%;
}

.section-3__second-box-2{
    /* background-color: #ff0; */
}

.section-3__second-box-3{
    /* background-color: #f0f; */
    background-image: url(../proyecto-grupal/section-3-img-2.png);
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;

}

.section-3__second-box-4{
    /* background-color: #0ff; */
}

.section-3__second-box-5{
    /* background-color: #00f; */
    background-image: url(../proyecto-grupal/section-3-img-3.png);
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    height: 90%;
    width: 90%;
}

.section-3__second-box-6{
    /* background-color: #f00; */
}

.section-3__second-box-7{
    /* background-color: #90f; */
    background-image: url(../proyecto-grupal/section-3-img-4.png);
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;

}

.section-3__second-box-8{
    /* background-color: #0f9; */
}

.section-3__second-box-2-h2{
    color: yellow;
    font-size: 1rem;
}

.section-3__second-box-2-p{
    color: white;
    margin-top: .3rem;
    font-size: .8rem;
}